@import "_main-elements.scss";
.html {
  height: 100%;
}
.body {
  height: 100%;
  background: url(../img/comppattern2.png);
  font-family: "FiraSans-Book";
  // font:1em 'Fira Sans' sans-serif;
}
.container {
  &_width {
    max-width: 1200px;
  }
}
.wrapper {
  position: relative;
  min-height: 100%;
  min-width: 970px;
  height: auto;
  &:after {
    content: "";
    display: block;
    height: 90px;
  }
}
.main-content {
  &_padding {
    position: absolute;
    left: 0px;
    right: 0;
    top: 0;
    bottom: 0;
    text-align: center;
    padding-bottom: 90px;
    //height: 100%;
  }
  &_before:before {
    content: "";
    display: inline-block;
    height: 100%;
    width: 0;
    vertical-align: middle;
  }
}
.header {
  height: 120px;
  margin-bottom: 38px;
  // padding: 33px 0;
  background: url(../img/header-line.png) no-repeat bottom #eff3f7;
  background-size: 100% auto;
  //border-image: url(../img/header-line.png) 0 0 3 0 stretch;
}
.logo {
  &__wrap{
  @extend %pos-l;
  }
  // margin-top: 0.625em;
}
.social {
  &__wrap {
  @extend %pos-r;
  }
  &__item {
    display: inline-block;
    margin-left: 20px;
  }
  &__link {
    display: block;
    background-image: url(../img/sprite-ic.png);
    background-repeat: no-repeat;
    width: 47px;
    height: 47px;
    &_vk {
      background-position: -141px -47px;
      &:hover {
          background-position: -109px -94px;
      }
    }
    &_tw {
      background-position: -62px -94px;
      &:hover {
        background-position: -150px 0;
      }
    }
    &_fb {
      background-position: -62px 0;
      &:hover {
        background-position: 0 -47px;
      }
    }
    &_git {
      background-position: -47px -47px;
      &:hover {
        background-position: -94px -47px;
      }
    }
  }
}
.sidebar {
  width: 250px;
  float: left;
  // margin-right: 60px;
}
.main-nav {
  &__wrap {
  margin-bottom: 21px;
  }
  background: #eff3f7;
  border-radius: 3px;
  overflow: hidden;
  color: #959aa8;
  font-size: 21px;
  &__link {
    display: block;
    @extend %word-wrap;
    margin: auto;
    width: 230px;
    padding:26px 18px;
    border-top: 2px solid #3ba8c0;

  }
  &__item {
    &:hover {
      color: #3ba8c0;
    }
    &:first-child .main-nav__link {
      border: none;
    }
    &_active {
      background: #3ba8c0;
      color: #fff;
      margin-bottom: -2px;
      &:hover {
        color: #fff;
      }
    }
  }
}
.contacts {
  border-radius: 3px;
  overflow: hidden;
  font-size: 21px;
  color: #fff;
  &__wrap{

  }
  &__title {
    // height: 40px;
    //height: 40px;
    line-height: 40px;
    padding:0 20px;
    // line-height: 40px;
    background: #3ba8c0;
  }
  &__item {
    padding: 9px 0;
    padding-left: 43px;
        &_color1 {
          background: #41b9d4;
        }
        &_color2 {
          background: #48cbe8;
          //background-position: -41px -94px;
        }
        &_color3 {
          background: #51daf8;
          //background-position: -20px -94px;
        }
        &_color4 {
          padding-left: 20px;
          background: #3ba8c0;
        }
        &__ic {
          vertical-align: middle;
          margin-right: 20px;
        }
    }
  &__link {
    @extend %word-wrap;
    //width: 138px;
    display: inline-block;
    font-size: 17px;
    vertical-align: middle;
    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }
}
/* ----------------------------------------------------- */
.contant {
  width: 650px;
  float: right;
}
.aboutprofile {
  @extend %clearfix;
  padding-bottom: 45px;
  padding-left: 55px;
}
.avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 5px solid #3ba8c0;
  overflow: hidden;
  &__wrap {
    margin-top: 12px;
    //margin-right: 25px;
  }
  &__img {
    width: 100%;
  }
}
.basic-info {
  width: 410px;
  font-size: 17px;
  color: #4a545d;
  &__wrap {
    padding-right: 11px;
  }
  &__item {
    margin-bottom: 16px;
    @extend %clearfix;
    &:last-child {
      margin-bottom: 0;
    }
    &__question {
      float: left;
      //font-weight: 500;
      margin-right: 19px;
      font-family: "FiraSans-Medium";
    }
    &__answer {
      font-size: 15px;
      float: left;
      &_max-width1 {
        max-width: 280px;
      }
      &_max-width2 {
        max-width: 245px;
      }
      &_max-width3 {
        max-width: 280px;
      }
      &_max-width4 {
        max-width: 200px;
      }
      &_max-width5 {
        max-width: 225px;
      }
    }
    &__skill {
      display: inline-block;
      min-width: 40px;
      padding: 0 13px;
      margin-bottom: 7px;
      border-radius: 4px;
      text-align: center;
      background: linear-gradient(to bottom, #3ba8c0 0%, #3ba8c0 49%, #2e8ca2 50%, #2e8ca2 100%);
      font: 14px "ProximaNova-Semi";
      line-height: 19px;
      color: #fff;
      cursor: default;
    }
  }
}
.about {
  max-width: 650px;
  margin-bottom: 25px;
  //padding-left: 55px;
  background: #eff3f7;
  border-radius: 3px;
  overflow: hidden;
  &__title {
    display: inline-block;
    position: relative;
    //margin-left: -55px;
    margin-bottom: 22px;
    padding: 20px;
    border-bottom: 2px solid #3ba8c0;
    color: #3ba8c0;
    font-size: 27px;
  }
  &__title-contact {
    display: block;
    padding: 42px 0;
    background: #48cbe8;
    border-radius: 3px 3px 0px 0px;
    border-bottom: 17px solid #67dffa;
    text-align: center;
    font: 27px "FiraSans-Book";
    color: #fff;
    &_size {
      padding: 17px 0;
      font-size: 40px;
    }
    &_add-project {
      //display: none;
      font: 25px "FiraSans-Regular";
      padding: 4px 12px;
      text-align: left;
      border-bottom: 9px solid #67dffa;
    }
  }
  &_shadow{
    display: inline-block;
    vertical-align: middle;
    width: 590px;
    border-radius: 4px;
    box-shadow: 0px 4px 7px 2px rgba(0 , 0, 0, .3);
    margin:auto;

  }
  &_add-project {
    width: 362px;
  }
}
.list-info {
  font: 17px "Fira Sans";
  color: #4a545d;
  &__wrap {
    padding-bottom: 23px;
    padding-left: 55px;
  }
  &__item {
    position: relative;
    padding-left: 68px;
    margin-bottom: 20px;
    @extend %clearfix ;
    line-height: 1.2;
    &__ic {
      position: absolute;
      top: 50%;
      left: 0;
      margin-top: -17px;
      display: block;
      //@extend %pos-l;
      //float: left;
      width: 41px;
      text-align: center;
    }
    &__title {
      font-weight: bold;
    }
    &__desc {
      font-family: "FiraSans-Light";
    }
  }
}
.portfolio {
  &__wrap {
    margin-top: 15px;
    padding-left: 20px;
  }
  &__item {
    display: inline-block;
    width: 183px;
    //height: 195px;
    margin-right: 25px;
    margin-bottom: 46px;
    vertical-align:top;
    //overflow: hidden;
    &_margin {
      margin-right: 0;
    }
    &__picture {
      position: relative;
      display: block;
      width: 183px;
      height: 130px;
      margin-bottom: 6px;
      border: 2px solid #3ba8c0;
      border-radius: 5px;
      background-color: #fff;
      overflow: hidden;
      &__img {
        width: 100%;
      }
      &_border {
        border: none;
      }
      &__link {
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
    &__picture-hover {
      display: none;
      position: absolute;
      //display: block;
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      padding: 30% 0px;
      background: rgba(1 , 108, 164, .4);
      text-align: center;
      &__link {
        display: inline;
        padding: 5px;
        width: 66px;
        height: 21px;
        border: 2px solid #fff;
        border-radius: 5px;
        font-size: 12px;
        color: #eff3f7;
      }
    }
    &__link {
      display: block;
      margin-bottom: 10px;
      font: 13px "FiraSans-LightItalic";
      color: #3ba8c0;
      text-align: center;
      white-space: nowrap;
      overflow: hidden;
    }
    &__desc {
      min-height: 37px;
      font: 15px "FiraSans-Light";
      text-align: center;
      color: #4a545d;
      line-height: 1.2;
      overflow: hidden;
    }
  }
}
.main {
  margin-bottom: 14px;
}
.footer {
  min-width: 970px;
  height: 90px;
  margin-top: -90px;
  background: url(../img/header-line.png) no-repeat top #eff3f7;
  text-align: center;
}
.lock {
  &__wrap {
  position: absolute;
  left: 32px;
  top: 50%;
  margin-top: -17px;
  }
  &:hover {
    background-position: -135px -94px;
  }
}
.copyright {
  font: 13px "FiraSans-Light";
  color: #4a545d;
  &__wrap {
    margin-top: 33px;
  }
}
.contact {
  &__wrap {
    margin: 42px auto;
    width: 400px;
  }
  &__wrap-element {
    display: block;
    position: relative;
    @extend %clearfix;
    margin-bottom: 10px;
    &_margin {
      margin-bottom: 19px;
    }
  }
  &__title {
    margin-bottom: 1px;
    font: 19px "FiraSans-Light";
    color: #959aa8;
    &_center {
      margin-bottom: 7px;
      font-size: 36px;
      text-align: center;
    }
  }
  &__main-style {
    border: 1px solid #48cbe8;
    border-radius: 3px;
    padding: 14px 10px;
    font: 13px "FiraSans-Light";
    color: #48cbe8;
    &::-webkit-input-placeholder {color:#48cbe8;}
    &::-moz-placeholder          {color:#48cbe8;}/* Firefox 19+ */
    &:-moz-placeholder           {color:#48cbe8;}/* Firefox 18- */
    &:-ms-input-placeholder      {color:#48cbe8;}
  }
  &__name {
    width: 192px;
    height: 41px;
  }
  &__email {
    width: 192px;
    height: 41px;
  }
  &__message {
    padding: 15px 10px;
    width: 400px;
    height: 182px;
    resize: none;
  }
  &__capcha {
    padding: 0;
    background: #fff;
    width: 190px;
    height: 80px;
    &__img {
      width: 100%;
    }
  }
  &__kod {
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -5px;

    width: 192px;
    height: 35px;
  }
  &__button {
    border-radius: 4px;
    border: none;
    background: #48cbe8;
    width: 137px;
    height: 33px;
    font: 19px "FiraSans-Book";
    color: #fff;
    box-shadow: inset 0 -3px 0 rgba(0, 0, 0, .1);
    &_bg {
      background: #849db5;
    }
    &_size {
      font-size: 36px;
      width: 225px;
      height: 55px;
    }
  }
}
.authorization {
  text-align: center;
  &__wrap {
    margin: 15px 0;
  }
  &__login {
    display: block;
    margin-bottom: 10px;
    font-size: 17px;
    width: 425px;
    height: 63px;
    margin:auto;
  }
  &__password {
    display: block;
    font-size: 17px;
    width: 425px;
    height: 63px;
    margin: 0 auto;
    margin-bottom: 33px;
  }
}
.add-progect {
  text-align: center;
  &__wrap {
    width: 321px;
    margin: auto;
    margin-top: 5px;
  }
  &__item {
    position: relative;
    width: 320px;
    height: 40px;
    display: block;
    margin-bottom: 5px;
  }
  &__desc {
    width: 320px;
    height: 110px;
    margin-bottom: 16px;
    resize: none;
  }
  &__title {
    text-align: left;
    display: block;
    margin-bottom: 3px;
  }
  &__add {
    display: inline-block;
    width: 140px;
    height: 33px;
    margin-bottom: 24px;
  }
  &__file {
    float: left;
    width: 52px;
    height: 40px;
    opacity: 0;
    filter: alpha(opacity=0);
    // //font-size: 0px;
    // padding:0px;
    // margin:0px;
    // border:none;
    // width: 100%;
    // height: 100%;
    &_wrap {
      @extend %clearfix;
      background: url(../img/file.png) no-repeat right center #fff;
    }
    &__placeholder {
      position: absolute;
      top: 9px;
      left: 9px;
      color: #aaa;
    }
    &_fix {

    }
  }
  &__filetext {
    float: left;
    width: 269px;
    margin-bottom: 0;
    border-radius: 3px 0 0 3px;
  }
  &__close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
  }
  &__add-window {
    display: none;
    position: relative;
    padding: 5px;
    text-align: left;
    color: #49bb7b;
    background: #b8e1ce;
    border: 1px solid #49bb7b;
    border-radius: 4px;
    &__title {
      font-size: 25px;
    }
    &__desc {
      font-size: 15px;
    }
    &__close {
      position: absolute;
      top: 5px;
      right: 5px;
      cursor: pointer;
    }
  }
  &__error {
    display: none;
    position: relative;
    padding: 5px;
    text-align: left;
    color: #f97e76;
    background: #f2cccd;
    border: 1px solid #f97e76;
    border-radius: 4px;
    &__title {
      font-size: 25px;
    }
    &__desc {
      font-size: 15px;
    }
    &__close {
      position: absolute;
      top: 5px;
      right: 5px;
    }
  }
}
.qtip-mystyle {
  font-family: "FiraSans-Book";
  background-color: #f97e76;
  border-color: #f97e76;
  font-size: 13px;
  color: #fff;
}
#add-progect-popup {
  display: none;
  position: relative;
}
.form-style {
  &_error {
    border-color: rgb( 249, 12, 118 );
    background-color: rgba( 249, 126, 118, 0.329 );
  }
}
.placeholder {
  color:#48cbe8;
}
