@import "_main-elements.scss";
html {
  height: 100%;
}
.body {
  height: 100%;
  background: url(../img/comppattern2.png);
  font-family: 'Fira Sans', sans-serif;
}
.header {
  margin-bottom: 40px;
  padding: 33px 0;
  background: url(../img/header-line.png) no-repeat bottom #eff3f7;
  background-size: 100% auto;
  //border-image: url(../img/header-line.png) 0 0 3 0 stretch;
    &__container {
      max-width: 1200px;
    }
}
.logo {
  float: left;
}
.social {
  float: right;
  &__link {
    display: inline-block;
    background-image: url(../img/sprite-ic.png);
    background-repeat: no-repeat;
    width: 47px;
    height: 47px;
    margin-left: 20px;
    &_vk {
      background-position: -141px -47px;
      &:hover {
          background-position: -109px -94px;
      }
    }
    &_tw {
      background-position: -62px -94px;
      &:hover {
        background-position: -150px 0;
      }
    }
    &_fb {
      background-position: -62px 0;
      &:hover {
        background-position: 0 -47px;
      }
    }
    &_git {
      background-position: -47px -47px;
      &:hover {
        background-position: -94px -47px;
      }
    }
  }
}
.sidebar {
  float: left;
  margin-right: 60px;
}
.nav {
  margin-bottom: 25px;
  width: 250px;
  background: #eff3f7;
  border-radius: 3px;
  overflow: hidden;
  color: #959aa8;
  //font: 21px 'fira_sansbook';
  font-family: 'Fira Sans', sans-serif;
  font-size: 21px;
  &__link {
    display: block;
    padding:0 28px;
    height: 73px;
    transition: 0.3s;
    background: url(../img/nav-line.png) no-repeat bottom;
    background-size: 80% auto;
    line-height: 73px;
    &:hover {
      color: #3ba8c0;
    }
    &:last-child {
      background: none;
    }
    &_active {
      background: #3ba8c0;
      color: #fff;
      &:hover {
        color: #fff;
      }
    }
  }
}
.contacts {
  max-width: 250px;
  border-radius: 3px;
  overflow: hidden;
  font-family: 'Fira Sans', sans-serif;
  font-size: 21px;
  color: #fff;
  &__title {
    // height: 40px;
    height: 40px;
    line-height: 40px;
    padding:0 20px;
    // line-height: 40px;
    background: #3ba8c0;
  }
  &__item {
    padding-left: 43px;
    //padding: 15px 15px 15px 40px;
    height: 40px;
    line-height: 40px;
    //vertical-align: middle;
    //background: url(../img/sprite-ic.png) no-repeat left center;
        &:nth-child(2) {
          background: #41b9d4;
          //background-position: -109px -23px;

        }
        &:nth-child(3) {
          background: #48cbe8;
          //background-position: -41px -94px;
        }
        &:nth-child(4) {
          background: #51daf8;
          //background-position: -20px -94px;
        }
        &__ic {
          vertical-align: middle;
          line-height: 40px;
          margin-right: 20px;
          //margin-top: 5px;
        }
    }
  &__link {
    display: inline-block;
    font-size: 17px;
    vertical-align: middle;
    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }
}
//icons
.sprite {
    display: inline-block;
    //margin-top: 5px;
    //float: left;
    // height: 100%;
    //margin-right: 20px;
    background-image: url(../img/sprite-ic.png);
    // background-position: right center;
}

.sprite-ic-bag {
    width: 36px;
    height: 34px;
    background-position: 0 0;
}

.sprite-ic-doc {
    width: 26px;
    height: 32px;
    background-position: -36px 0;
}
.sprite-ic-hat {
    width: 41px;
    height: 23px;
    background-position: -109px 0;
}

.sprite-ic-lock {
    width: 20px;
    height: 32px;
    background-position: 0 -94px;
}

.sprite-ic-mail {
    width: 21px;
    height: 16px;
    background-position: -109px -23px;
}

.sprite-ic-skype {
    width: 21px;
    height: 20px;
    background-position: -20px -94px;
}

.sprite-ic-tel {
    width: 21px;
    height: 20px;
    background-position: -41px -94px;
}
//end icons
.contant {
  float: left;
}
.con-it {
  max-width: 650px;
  margin-bottom: 25px;
  padding-bottom: 40px;
  padding-left: 55px;
  background: #eff3f7;
  border-radius: 3px;
  overflow: hidden;
  &__photo {
    float: left;
    margin-top: 10px;
    margin-right: 25px;
    // margin-left: 55px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid #3ba8c0;
  }
  &__title {
    //
    position: relative;
    margin-left: -55px;
    margin-bottom: 24px;
    padding: 21px;
    color: #3ba8c0;
    font-size: 27px;
    &::after {
      content: '';
      position: absolute;
      left: -55px;
      bottom: 0;
      display: block;
      width: 68%;
      height: 2px;
      background: #3ba8c0;
    }
  }
  &__desc {
    width: 68%;
    float: left;
    padding-right: 55px;
    font-size: 17px;
    color: #4a545d;
    &__item {
      margin-bottom: 16px;
      &:last-child {
        margin-bottom: 0;
      }
      &_bold {
        float: left;
        font-weight: bold;
        margin-right: 18px;
      }
    }
    &__skills {
      font-size: 20px;
      float: right;
      width: 47%;
    }
    &__skill {
      display: inline-block;
      padding: 2px 13px;
      margin-bottom: 7px;
      border-radius: 2px;
      text-align: center;
      line-height: 18px;
      background: #2e8ca2;
      box-shadow: inset 0 17px 0 -5px rgba(255,255,255,.3);;
      font: 14px "ProximaNovaCond";
      color: #fff;
      cursor: default;
    }
  }
  &__list {
    font: 17px "Fira Sans";
    color: #4a545d;
    &__item {
      margin-bottom: 20px;
      @extend %clearfix ;
      &__ic {
        float: left;
        width: 41px;
        margin-right: 28px;
        margin-top: 2px;
        text-align: center;
      }
      &__title {
        font-weight: bold;
      }
      &__desc {
        font-weight: lighter;
      }
      &__punkt {
        float: left;
      }
    }
  }
}
.main {
  margin-bottom: 90px;
}
.footer {
  height: 90px;
  margin-top: -90px;
  background: url(../img/header-line.png) no-repeat top #eff3f7;
  line-height: 90px;
  text-align: center;
  font-weight: lighter;
  font-size: 13px;
  color: #4a545d;
  &__lock {
    float: left;
    margin-left: 30px;
    margin-top: 30px;
    cursor: pointer;
  }
}
